/* src/components/hero/HeroStyles.css */
.hero-container {
   color: #5c1515;
    padding: 100px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  
  .hero-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .hero-container p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .hero-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .hero-btn:hover {
    background-color: #0056b3;
  }
  